<div class="container">
  <div class="d-flex justify-content-center">
        <div>
            <h1 class="mt-4"> Update Listing </h1>
            <%= render "form"%>
            <%link_to "Home", root_path%>
        </div>
    </div>
</div>